.main-text{
    font-size: 70px;
    font-weight: 700;
}
.main-text span{
    font-size: 70px;
    font-weight: 700;
    color: #D3D3D3;
}
.whats{
    font-size: 14px;
    font-weight: 600;
    color: #F50963;
}
.recommend{
    font-size: 50px;
    font-weight: 600;
    color: #212121
}
.title{
    font-size: 14px;
    font-weight: 400;
    color: #666666
}
.desc{
    font-size: 16px;
    font-weight: 600;
    color: #212121
}
.amount{
    font-size: 16px;
    font-weight: 600;
    color: #F50963
}
.eye{
    cursor: pointer;
}